RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^([^\.]+)$ $1.php [NC,L]

RewriteRule ^([^\.]+)$ $1.html [NC,L]

<FilesMatch "\.(?i:gif|jpe?g|png|ico|css|js|swf)$">
    <IfModule mod_headers.c>
        Header set Cache-Control "max-age=172800, public, must-revalidate"
    </IfModule>
</FilesMatch>

<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresDefault "access plus 1 seconds"
    ExpiresByType text/html "access plus 1 seconds"
    ExpiresByType image/x-icon "access plus 2592000 seconds"
    ExpiresByType image/gif "access plus 2592000 seconds"
    ExpiresByType image/jpeg "access plus 2592000 seconds"
    ExpiresByType image/png "access plus 2592000 seconds"
    ExpiresByType text/css "access plus 604800 seconds"
    ExpiresByType text/javascript "access plus 86400 seconds"
    ExpiresByType application/x-javascript "access plus 86400 seconds"
</IfModule>

# Redirigir accesso a connection.php a otra página, por ejemplo, pagina-no-encontrada.php
RewriteCond %{REQUEST_URI} ^/app/controller/products\.php$
RewriteRule ^(.*)$ /error.php [R=301,L]
